_env_01_IRIS_SPECIES/*
01_IRIS_SPECIES/data/*.zip
01_IRIS_SPECIES/data/*.sqlite

_env_02_LINEAR_REGRESSION_FROM_SCRATCH/*
02_LINEAR_REGRESSION_FROM_SCRATCH/data/*.zip

_env_03_TELCO_CUSTOMER_CHURN/*
03_TELCO_CUSTOMER_CHURN/data/*.zip

_env_04_SENTIMENT_ANALYSIS/*
04_SENTIMENT_ANALYSIS/data/AMAZON_REVIEWS/*
04_SENTIMENT_ANALYSIS/data/IMDB/*
04_SENTIMENT_ANALYSIS/data/TWEETS/*

04_SENTIMENT_ANALYSIS/_lstm_zenml/sentiment-dataset/*